section, aside{
    display:block;
}

/*Main site*/
h2{
    font-family:helvetica;

}

/*Container*/
.container{
    width:960px;
    min-height:650px;
    margin: 0 auto 0 auto;
    background-image:url('bg_image_wood.png');
}

/*help*/
.container #help{
    background:white;
    opacity:0.7;
    
}

#help_button{
    padding-top:20px;
}

/*Set up*/
.set_up{
    padding-top:100px;
}

.input_field {
    width:339px;
    height:70px;
    padding:5px 20px 5px 20px;
    font-size:30px;
    color:#747474;
}

.button{
    padding: 10px;
    width:332px;
}

.card{
    padding-top:40px;
}

header{
    padding:30px;
    width:300px;
}


.center{
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display:block;
}